<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <h2 class="text-center">About us popup</h2>
            <h5 class="text-center">
                This is a test
            </h5>
            <p class="text-justify">
                This is a test</p>
            <p class="text-center"><a href="http://www.bootstrapzero.com">Download at BootstrapZero</a></p>
            <br/>
            <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true"> OK </button>
        </div>
    </div>
</div>