<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="margin-top-0 text-primary">Flexible Layouts</h2>
            <hr class="primary">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 text-center">
            <div class="feature">
                <i class="icon-lg ion-android-laptop wow fadeIn" data-wow-delay=".3s"></i>
                <h3>Responsive</h3>
                <p class="text-muted">Your site looks good everywhere</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 text-center">
            <div class="feature">
                <i class="icon-lg ion-social-sass wow fadeInUp" data-wow-delay=".2s"></i>
                <h3>Customizable</h3>
                <p class="text-muted">Easy to theme and customize with SASS</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 text-center">
            <div class="feature">
                <i class="icon-lg ion-ios-star-outline wow fadeIn" data-wow-delay=".3s"></i>
                <h3>Consistent</h3>
                <p class="text-muted">A mature, well-tested, stable codebase</p>
            </div>
        </div>
    </div>
</div>