<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
            <h2 class="margin-top-0 text-primary">four</h2>
            <br>
            <p class="text-faded"></p>
            <a href="#four" class="btn btn-default btn-xl page-scroll">Four</a>
        </div>
    </div>
</div>